.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

h1 {
  padding: 10% 0%;
}

.fs {
  width: 83%;
}

.greyOut {
  color: lightgrey;
  text-decoration: line-through;
  font-style: italic;
}

.cr {
  text-align: center;
}

.thead {
  background-color: white;
}

.thead:hover {
  background-color: white;
}

.greyedOut {
  color: red;
}

.fa-pencil, .fa-times {
  padding: 10%;
}

.fa-pencil:hover, .fa-times:hover {
  background-color: lightgrey;
  transition: all 350ms;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom checkbox appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border-radius: 50%;
    background-color: #e7e6e7;
    margin-left: 15px;
    margin-right: 15px;
    background-color: papayawhip;
    outline: none !important;
}

input[type=checkbox]:checked {
  outline: none !important;
  background-color: salmon;
  border-radius: 50%;
  transition: all 250ms;
  box-shadow: 0 0 0 3px pink;
}
